<script type="text/javascript" src="jquery-1.3.2.min.js"></script>
<script src="jquery.rwdImageMaps.min.js"></script>



<img src="assets/phil3_black.png"  width="100%" />

<img class ="hedeClass" id="hede" src="assets/phil3.png" usemap="#planetmap"/>

<!-- <img class ="button-light" src="assets/button/light.jpg" /> -->


<map name="planetmap">
  <area shape="rect" coords="1056,95,200" href="javascript:void(0);" alt="Sun" onclick="stop();" />
  <!-- <area shape="circle" coords="90,58,3" href="mercur.htm" alt="Mercury" /> -->
  <!-- <area shape="circle" coords="124,58,8" href="venus.htm" alt="Venus" /> -->
</map>

<div class="videocontainer">
	<div class ="ytvideo" id="ytapiplayer" >
	</div>
</div>

<!-- <div class="buttons">
	<a href="javascript:void(0);" onclick="basla();">BASLA!</a>
	<a href="javascript:void(0);" onclick="play();">Play</a>
	<a href="javascript:void(0);" onclick="pause();">Pause</a>
	<a href="javascript:void(0);" onclick="stop();">Stop</a>
	<a href="javascript:void(0);" onclick="next();">Next</a>
	<a href="javascript:void(0);" onclick="prev();">Prev</a>
	<a href="javascript:void(0);" onclick="mute();">Mute</a>
	<a href="javascript:void(0);" onclick="unmute();">Unmute</a>
<div id = "turnoff">Lights off</div><div id = "soft">Soft lights</div><div id = "turnon">Lights on</div></div> -->